/**
 * Autor: Diego Enrique Fontán Lorenzo
 * DNI: 77482941N
 * Fecha: 31/01/2019
 */

/**
 * Hoja de estilos fuertemente inspirada en FaiTIC
 */

/* Override default properties */
a { text-decoration: none; }
li { list-style-type: none; }

html { height: 100vh; }
body { margin: 0; min-height: 100vh; overflow: hidden; overflow-y: auto; }

/* Useful classes */
.blue { color: #0067E2; }
.centrado { width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.title { float: left; color: #FFF; font-size: 18px; margin-left: 15px; font-weight: 100; font-family: Georgia, 'Times New Roman', Times, serif; }

/* Modal */
.modal { position: absolute; background: #FFF; border: 2px groove #CCC; margin: 0 auto; top: 250px; padding: 10px 50px; color: #333;
    display: none; flex-direction: column; justify-content: center; align-items: center; }
.modal h4 > span { font-weight: normal; }
.modal input { align-self: right; border: none; }

/* Main page */
.main { margin: 0 auto; width: 80vw; height: 100vh;
    display: flex; flex-direction: column;
    transition: width 1s; }

/* Logo */
.banner { order: 10; margin-top: 25px; }
    
/* Top menu */
.menu-superior { order: 20; height: 20px; padding: 5px; margin: 20px 0px; background-size: 100% 100%; border-top: 1px solid #77B3D9;
    background: linear-gradient(#7FB6E2, #77B3D9, #59A8D9, #3B9CD9, #1B80BF, #0477BF, #006EC6); }
    .menu-superior .icons { float: right; display: flex; justify-content: center; align-items: center; }
    .menu-superior .icons a { height: 12; margin-right: 7px; }
    .menu-superior .icons a.logout { height: 16; margin-left: 15px; }

/* Content */
.contenido { order: 30; display: flex; flex-direction: row; align-items: flex-start; }

/* Management menu */
    .menu-lateral { order: 31; display:flex; flex-direction: column; margin: 0; margin-right: 40px; border: 1px solid #CCC; background-color:#EEE; width: 210px; padding: 0; }
    .menu-lateral li, .menu-lateral form { margin: 0; padding: 2px 15px; height: 20px; text-align: left; border: 1px solid #CCC; background-color:#EEE; }
    .menu-lateral li:hover { background-color:#AAA; }
    .contenido .menu-lateral .title { padding: 0; font-size: 16px; text-align: center; color: #fff; border-top: 2px solid #CCC;
        background: linear-gradient(#EEE, #AAA, #999, #888); }
    .menu-lateral a li { color: #555; }

/* Login menu */
    .menu-lateral form { height: 100%; display:flex; flex-direction: column; flex-wrap: wrap; justify-content: center; padding: 10px; }
    .menu-lateral form label { margin-top: 5px; font-size: 12px; color: #666;}
    .menu-lateral form input { border: 1px solid #999; padding: 2px 5px; color: #333; }
    .menu-lateral form input[type=submit] { color: #FFF; border: 1px solid #3B9CD9; text-transform: uppercase; margin-top: 13px; margin-bottom: 5px; height: 25px;
        background: linear-gradient(#59A8D9, #7FB6E2, #59A8D9, #0477BF); }

/* Main content */
    .contenido-principal { order: 32; width: 100%; display:flex; flex-direction: column; background: linear-gradient(#888, #FFF); }
    .contenido-principal .title { height: 30px; line-height: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; font-size: 12px; text-transform: uppercase; }
    .contenido-principal .workspace { margin: 2px; background: #FFF; height: calc(100% - 30px);}
    .contenido-principal .workspace .datos { margin: 15px; border: 1px solid #CCC; height: calc(100% - 30px); padding: 10px; }

/* Current content messages and titles */
    .contenido-principal .workspace .datos .msg { color: #333; font-size: 20px; padding: 20px; }
    .contenido-principal .workspace .datos h2, .datos h4 { width: 100%; text-align: center; color: #333; }
    .contenido-principal .workspace .datos a { color: #0067E2; }

/* Forms */
    .contenido-principal .workspace .datos form {  background-color: transparent; border: none; }

    .form-style { height: calc(100% - 10px); margin: 5px auto; max-width: 400px; padding: 20px 12px 10px 20px; }
    .form-style li { padding: 0; display: block; list-style: none; margin: 10px 0 0 0; }
    .form-style label { color: #444; margin: 0 0 3px 0; padding: 0; display: block; font-weight: bold; }
    .form-style input, .form-style select { color: #666; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
        border: 1px solid #BEBEBE; padding: 7px; margin: 0px; outline: none; }
    .form-style input[type="date"] { text-align: center; }
    .form-style input[type="submit"] { border: none; color: #FFF; padding: 8px 15px;
        background: linear-gradient(#59A8D9, #7FB6E2, #59A8D9, #0477BF); }
    .form-style input[type="file"] { display: none; }
    .form-style .file-upload { border: 1px solid #BEBEBE; text-align: center; height: 16px; line-height: 16px; padding: 7px; color: #999; font-weight: normal; }
    .form-style .requerido { color: red; }
    .form-style .campo-largo { width:100%; }
    .form-style .campo-dividido { width: 49%; }

/* Tables */
    .contenido-principal .workspace .datos table { width: 90%; max-width: 600px; margin: 25px auto; border-collapse: collapse; }
    .contenido-principal .workspace .datos table tr th { padding: 0 10px; text-transform: capitalize; color: #FFF; font-weight: normal; border: 2px solid #CCC;
        background: linear-gradient(#EEE, #AAA, #999, #888); }
    .datos table td { padding: 6px 10px; border: 1px solid #CCC; }
    .datos table tr:nth-of-type(even) { background: #EEE; }
    .datos table thead th.addnsearch { border: 0 !important; background:#FFF !important; }
    .datos table tbody td.buttons, thead th.addnsearch { width: 60px; text-align: center; }

/* Readonly Inputs */
    .readonly, input[readonly] { background: #E8E8E8; }

/* Return button */
    .contenido-principal .workspace .datos .return, .return { color: #0067E2; float: right; color: #FFF; padding: 2px 10px; font-size: 14px;
        background: linear-gradient(#59A8D9, #7FB6E2, #59A8D9, #0477BF); }

/* Footer */
.footer { order: 40; margin-top: 20px; margin-top: 40px; padding: 10px 0; }
    .footer p { border-top: 1px solid #BBB; padding-top: 10px; font-size: 12px; text-align: center; font-weight: bold;}
    .footer p .today { font-weight: normal; }
    .footer p span { margin: auto 2px; }

/* Minimum resolutions */
@media only screen and (max-width: 800px)
{
    .main { width: 90vw; }
    .contenido { flex-direction: column; }
    .contenido .menu-lateral { margin-bottom: 20px; width: 100%; }
}